# Halloween candy dirty data

In [73]:
import pandas as pd

In [74]:
df_15 = pd.read_csv('raw_data/candy_ranking_data/candy-2015.csv')
df_16 = pd.read_csv('raw_data/candy_ranking_data/candy-2016.csv')
df_17 = pd.read_csv('raw_data/candy_ranking_data/candy-2017.csv')

I will work on each of them then join them together

In [75]:
df_15.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,10/23/2015 8:46:20,35,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/23/2015 8:46:51,41,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10/23/2015 8:47:34,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10/23/2015 8:47:58,31,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10/23/2015 8:48:11,30,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
col_list = []
for col in df_15.columns:
    if col.startswith(' [') == True:
        col_list.append(col)
col_list
col_list.append("How old are you?")
col_list.append("Are you going actually going trick or treating yourself?")

In [77]:
#sweet_15 = df_15[col_list].melt(var_name="sweet")

In [78]:
short_15 = df_15[col_list].rename(columns={"How old are you?": "age", "Are you going actually going trick or treating yourself?": "going_out"})

In [79]:
df = short_15.melt(id_vars=["age", "going_out"],var_name="sweet").rename(columns = {"value":"rate"})
df.sweet = df.sweet.str[2:-1]
df["year"] = 2015
df

       age going_out         sweet     rate  year
0       35        No  Butterfinger      JOY  2015
1       41        No  Butterfinger      JOY  2015
2       33        No  Butterfinger  DESPAIR  2015
3       31        No  Butterfinger      JOY  2015
4       30        No  Butterfinger      NaN  2015
...     ..       ...           ...      ...   ...
534845  50        No  Necco Wafers  DESPAIR  2015
534846  43        No  Necco Wafers  DESPAIR  2015
534847  35       Yes  Necco Wafers      NaN  2015
534848  38        No  Necco Wafers      JOY  2015
534849  44        No  Necco Wafers      JOY  2015

[534850 rows x 5 columns]

In [80]:
df_16.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,10/24/2016 5:09:23,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,10/24/2016 5:09:54,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,10/24/2016 5:13:06,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,10/24/2016 5:14:17,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,10/24/2016 5:14:24,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

In [81]:
col_list = []
for col in df_16.columns:
    if col.startswith(' [') == True:
        col_list.append(col)
col_list
col_list.append("How old are you?")
col_list.append("Are you going actually going trick or treating yourself?")
col_list.append("Your gender:")
col_list.append("Which country do you live in?")

col_list

[' [100 Grand Bar]',
 ' [Anonymous brown globs that come in black and orange wrappers]',
 ' [Any full-sized candy bar]',
 ' [Black Jacks]',
 ' [Bonkers (the candy)]',
 ' [Bonkers (the board game)]',
 ' [Bottle Caps]',
 " [Box'o'Raisins]",
 ' [Broken glow stick]',
 ' [Butterfinger]',
 ' [Cadbury Creme Eggs]',
 ' [Candy Corn]',
 ' [Candy that is clearly just the stuff given out for free at restaurants]',
 ' [Caramellos]',
 ' [Cash, or other forms of legal tender]',
 ' [Chardonnay]',
 ' [Chick-o-Sticks (we don’t know what that is)]',
 ' [Chiclets]',
 ' [Coffee Crisp]',
 ' [Creepy Religious comics/Chick Tracts]',
 ' [Dental paraphenalia]',
 ' [Dots]',
 ' [Dove Bars]',
 ' [Fuzzy Peaches]',
 ' [Generic Brand Acetaminophen]',
 ' [Glow sticks]',
 ' [Goo Goo Clusters]',
 " [Good N' Plenty]",
 ' [Gum from baseball cards]',
 ' [Gummy Bears straight up]',
 ' [Hard Candy]',
 ' [Healthy Fruit]',
 ' [Heath Bar]',
 " [Hershey's Dark Chocolate]",
 ' [Hershey’s Milk Chocolate]',
 " [Hershey's Kisses]",
 ' [Hugs (actual physical hugs)]',
 ' [Jolly Rancher (bad flavor)]',
 ' [Jolly Ranchers (good flavor)]',
 ' [JoyJoy (Mit Iodine!)]',
 ' [Junior Mints]',
 ' [Senior Mints]',
 ' [Kale smoothie]',
 ' [Kinder Happy Hippo]',
 ' [Kit Kat]',
 ' [LaffyTaffy]',
 ' [LemonHeads]',
 ' [Licorice (not black)]',
 ' [Licorice (yes black)]',
 ' [Lindt Truffle]',
 ' [Lollipops]',
 ' [Mars]',
 ' [Mary Janes]',
 ' [Maynards]',
 ' [Mike and Ike]',
 ' [Milk Duds]',
 ' [Milky Way]',
 ' [Regular M&Ms]',
 ' [Peanut M&M’s]',
 " [Blue M&M's]",
 " [Red M&M's]",
 " [Third Party M&M's]",
 ' [Minibags of chips]',
 ' [Mint Kisses]',
 ' [Mint Juleps]',
 ' [Mr. Goodbar]',
 ' [Necco Wafers]',
 ' [Nerds]',
 ' [Nestle Crunch]',
 " [Now'n'Laters]",
 ' [Peeps]',
 ' [Pencils]',
 ' [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]',
 ' [Pixy Stix]',
 ' [Reese’s Peanut Butter Cups]',
 " [Reese's Pieces]",
 ' [Reggie Jackson Bar]',
 ' [Rolos]',
 ' [Skittles]',
 ' [Smarties (American)]',
 ' [Smarties (Commonwealth)]',
 ' [Snickers]',
 ' [Sourpatch Kids (i.e. abominations of nature)]',
 ' [Spotted Dick]',
 ' [Starburst]',
 ' [Sweet Tarts]',
 ' [Swedish Fish]',
 ' [Sweetums (a friend to diabetes)]',
 ' [Tic Tacs]',
 ' [Those odd marshmallow circus peanut things]',
 ' [Three Musketeers]',
 ' [Tolberone something or other]',
 ' [Trail Mix]',
 ' [Twix]',
 ' [Vials of pure high fructose corn syrup, for main-lining into your vein]',
 ' [Vicodin]',
 ' [Whatchamacallit Bars]',
 ' [White Bread]',
 ' [Whole Wheat anything]',
 ' [York Peppermint Patties]',
 ' [York Peppermint Patties] Ignore',
 'How old are you?',
 'Are you going actually going trick or treating yourself?',
 'Your gender:',
 'Which country do you live in?']

In [82]:
short_16 = df_16[col_list].rename(columns={"How old are you?": "age", "Are you going actually going trick or treating yourself?": "going_out", "Your gender:" : "gender",
                                          "Which country do you live in?" : "country"})

df_1 = short_16.melt(id_vars=["age", "going_out","gender","country"],var_name="sweet").rename(columns = {"value":"rate"})
df_1.sweet = df_1.sweet.str[2:-1]
df_1['year'] = 2016
df_1

,age,going_out,gender,country,sweet,rate,year
0,22,No,Male,Canada,100 Grand Bar,JOY,2016
1,45,No,Male,usa,100 Grand Bar,MEH,2016
2,48,No,Female,US,100 Grand Bar,JOY,2016
3,57,No,Male,usa,100 Grand Bar,JOY,2016
4,42,Yes,Male,USA,100 Grand Bar,MEH,2016
...,...,...,...,...,...,...,...
127154,52,No,Female,USA,York Peppermint Patties] Ignor,NaN,2016
127155,33,No,Male,united states,York Peppermint Patties] Ignor,NaN,2016
127156,NaN,No,Male,NaN,York Peppermint Patties] Ignor,NaN,2016
127157,48,No,Male,canada,York Peppermint Patties] Ignor,NaN,2016
127158,44,Yes,Female,Us,York Peppermint Patties] Ignor,NaN,2016

In [83]:
df_17.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [84]:
col_list = []
for col in df_17.columns:
    if col.startswith('Q6') == True:
        col_list.append(col)
col_list
col_list.append("Q1: GOING OUT?")
col_list.append("Q2: GENDER")
col_list.append("Q3: AGE")
col_list.append("Q4: COUNTRY")

col_list

['Q6 | 100 Grand Bar',
 'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
 'Q6 | Any full-sized candy bar',
 'Q6 | Black Jacks',
 'Q6 | Bonkers (the candy)',
 'Q6 | Bonkers (the board game)',
 'Q6 | Bottle Caps',
 "Q6 | Box'o'Raisins",
 'Q6 | Broken glow stick',
 'Q6 | Butterfinger',
 'Q6 | Cadbury Creme Eggs',
 'Q6 | Candy Corn',
 'Q6 | Candy that is clearly just the stuff given out for free at restaurants',
 'Q6 | Caramellos',
 'Q6 | Cash, or other forms of legal tender',
 'Q6 | Chardonnay',
 'Q6 | Chick-o-Sticks (we don’t know what that is)',
 'Q6 | Chiclets',
 'Q6 | Coffee Crisp',
 'Q6 | Creepy Religious comics/Chick Tracts',
 'Q6 | Dental paraphenalia',
 'Q6 | Dots',
 'Q6 | Dove Bars',
 'Q6 | Fuzzy Peaches',
 'Q6 | Generic Brand Acetaminophen',
 'Q6 | Glow sticks',
 'Q6 | Goo Goo Clusters',
 "Q6 | Good N' Plenty",
 'Q6 | Gum from baseball cards',
 'Q6 | Gummy Bears straight up',
 'Q6 | Hard Candy',
 'Q6 | Healthy Fruit',
 'Q6 | Heath Bar',
 "Q6 | Hershey's Dark Chocolate",
 'Q6 | Hershey’s Milk Chocolate',
 "Q6 | Hershey's Kisses",
 'Q6 | Hugs (actual physical hugs)',
 'Q6 | Jolly Rancher (bad flavor)',
 'Q6 | Jolly Ranchers (good flavor)',
 'Q6 | JoyJoy (Mit Iodine!)',
 'Q6 | Junior Mints',
 'Q6 | Senior Mints',
 'Q6 | Kale smoothie',
 'Q6 | Kinder Happy Hippo',
 'Q6 | Kit Kat',
 'Q6 | LaffyTaffy',
 'Q6 | LemonHeads',
 'Q6 | Licorice (not black)',
 'Q6 | Licorice (yes black)',
 'Q6 | Lindt Truffle',
 'Q6 | Lollipops',
 'Q6 | Mars',
 'Q6 | Maynards',
 'Q6 | Mike and Ike',
 'Q6 | Milk Duds',
 'Q6 | Milky Way',
 'Q6 | Regular M&Ms',
 'Q6 | Peanut M&M’s',
 "Q6 | Blue M&M's",
 "Q6 | Red M&M's",
 "Q6 | Green Party M&M's",
 "Q6 | Independent M&M's",
 "Q6 | Abstained from M&M'ing.",
 'Q6 | Minibags of chips',
 'Q6 | Mint Kisses',
 'Q6 | Mint Juleps',
 'Q6 | Mr. Goodbar',
 'Q6 | Necco Wafers',
 'Q6 | Nerds',
 'Q6 | Nestle Crunch',
 "Q6 | Now'n'Laters",
 'Q6 | Peeps',
 'Q6 | Pencils',
 'Q6 | Pixy Stix',
 'Q6 | Real Housewives of Orange County Season 9 Blue-Ray',
 'Q6 | Reese’s Peanut Butter Cups',
 "Q6 | Reese's Pieces",
 'Q6 | Reggie Jackson Bar',
 'Q6 | Rolos',
 'Q6 | Sandwich-sized bags filled with BooBerry Crunch',
 'Q6 | Skittles',
 'Q6 | Smarties (American)',
 'Q6 | Smarties (Commonwealth)',
 'Q6 | Snickers',
 'Q6 | Sourpatch Kids (i.e. abominations of nature)',
 'Q6 | Spotted Dick',
 'Q6 | Starburst',
 'Q6 | Sweet Tarts',
 'Q6 | Swedish Fish',
 'Q6 | Sweetums (a friend to diabetes)',
 'Q6 | Take 5',
 'Q6 | Tic Tacs',
 'Q6 | Those odd marshmallow circus peanut things',
 'Q6 | Three Musketeers',
 'Q6 | Tolberone something or other',
 'Q6 | Trail Mix',
 'Q6 | Twix',
 'Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein',
 'Q6 | Vicodin',
 'Q6 | Whatchamacallit Bars',
 'Q6 | White Bread',
 'Q6 | Whole Wheat anything',
 'Q6 | York Peppermint Patties',
 'Q1: GOING OUT?',
 'Q2: GENDER',
 'Q3: AGE',
 'Q4: COUNTRY']

In [85]:
short_17 = df_17[col_list].rename(columns={"Q3: AGE": "age", "Q1: GOING OUT?": "going_out", "Q2: GENDER" : "gender",
                                          "Q4: COUNTRY" : "country"})

df_2 = short_17.melt(id_vars=["age", "going_out","gender","country"],var_name="sweet").rename(columns = {"value":"rate"})
df_2.sweet = df_2.sweet.str[5:]
df_2['year'] = 2017
df_2

        age going_out  gender country                    sweet rate  year
0       NaN       NaN     NaN     NaN            100 Grand Bar  NaN  2017
1        44        No    Male    USA             100 Grand Bar  MEH  2017
2        49       NaN    Male     USA            100 Grand Bar  NaN  2017
3        40        No    Male      us            100 Grand Bar  MEH  2017
4        23        No    Male     usa            100 Grand Bar  JOY  2017
...     ...       ...     ...     ...                      ...  ...   ...
253375   24        No    Male     USA  York Peppermint Patties  MEH  2017
253376   33        No  Female     USA  York Peppermint Patties  JOY  2017
253377   26        No  Female    USA   York Peppermint Patties  MEH  2017
253378   58        No    Male     Usa  York Peppermint Patties  NaN  2017
253379   66        No  Female     usa  York Peppermint Patties  JOY  2017

[253380 rows x 7 columns]

In [86]:
frames = [df, df_1, df_2]

result = pd.concat(frames)
result

       age going_out                    sweet     rate  year  gender country
0       35        No             Butterfinger      JOY  2015     NaN     NaN
1       41        No             Butterfinger      JOY  2015     NaN     NaN
2       33        No             Butterfinger  DESPAIR  2015     NaN     NaN
3       31        No             Butterfinger      JOY  2015     NaN     NaN
4       30        No             Butterfinger      NaN  2015     NaN     NaN
...     ..       ...                      ...      ...   ...     ...     ...
253375  24        No  York Peppermint Patties      MEH  2017    Male     USA
253376  33        No  York Peppermint Patties      JOY  2017  Female     USA
253377  26        No  York Peppermint Patties      MEH  2017  Female    USA
253378  58        No  York Peppermint Patties      NaN  2017    Male     Usa
253379  66        No  York Peppermint Patties      JOY  2017  Female     usa

[915389 rows x 7 columns]

at this point we have a dataframe looks clean but the are two things we need to work on, 
the country column and the sweet column. 
I will pick out all the "usa" that mistyped for example "USa, usa!!!" .As I already done this project in R before so I have those lists already. 
for country col, it's slightly different,

In [87]:
list_us = ["Usa", "Us" ,"United States Of America","United States" ,
             "Unites States" ,"Ussa","U.s.a." ,
             'United Staes', "Unhinged States",
             "North Carolina" ,"Unied States" , "U S"  ,"United State" ,
             "New York" ,"Trumpistan"  ,"United Sates"  ,"California"  ,
             "United Stated"  ,"Ahem....Amerca" ,"New Jersey" ,"United Ststes",
             "United Statss" ,"Alaska"  ,"United Statea" ,"United Ststes",
             "Unite States","Pittsburgh","Murica","Murrika","'Merica",
             "The Yoo Ess Of Aaayyyyyy","Sub-Canadian North America... 'Merica",
             "Merica","United Stetes","Units States","Usa!",
             "Usa (I Think But It's An Election Year So Who Can Really Tell)",
             "U.s.","America","Usa Usa Usa","Usa!!!!!!","Usa! Usa!",
             "Usa Usa Usa Usa","United  States Of America","United State",
             "Usa! Usa! Usa!","The Best One - Usa","Usa Usa Usa!!!!","Usausausa",
             "Us Of A","The United States","The United States Of America",
             "Usa? Hard To Tell Anymore..","Usas",
             "I Pretend To Be From Canada, But I Am Really From The United States.",
             "Usaa", "U S A","Usa Usa Usa!!!!",'usa']
list_uk = ["Uk" ,"U.K." ,"Scotland","Endland", "U.k.","United Kindom","England",
             "United Kingdom","United Kingdom","Uk"]
list_can = ["Can", "Canae", "Soviet Canuckistan","Canada"]

In [88]:
df_c = result.replace(to_replace = list_us, value = "USA").replace(to_replace = list_uk, value = "UK").replace(to_replace = list_can, value = "CA")

In [89]:
candy_na = ["Cash, or other forms of legal tender","Generic Brand Acetaminophen",
              "Glow sticks", "Broken glow stick",
              "Creepy Religious comics/Chick Tracts",                                       
              "Healthy Fruit","Hugs (actual physical hugs)", "Kale smoothie",
              "Minibags of chips", "JoyJoy (Mit Iodine)", "JoyJoy (Mit Iodine!)",
              "Pencils", 
              "Peterson Brand Sidewalk Chalk",  "Vicodin", "White Bread", 
              "Whole Wheat anything",  
              "Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)",
              "Vials of pure high fructose corn syrup, for main-lining into your vein",
              "York Peppermint Patties] Ignor","Chardonnay", "Generic Brand Acetaminophen",
              "Abstained from M&M'ing.","Real Housewives of Orange County Season 9 Blue-Ray",
              "Spotted Dick", "Bonkers (the board game)" ,"Sea-salt flavored stuff, probably chocolate, since this is the \"it\" flavor of the year"
           ]
candy_mm = ["Regular M&Ms","Blue M&M's", "Red M&M's", "Green Party M&M's",
              "Independent M&M's"]


candy_mj = ["Mary Janes","Anonymous brown globs that come in black and orange wrappers",
              "Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)"]

candy_l = ["Licorice", "Licorice (yes black)"]
candy_b = ["Bonkers", "Bonkers (the candy)" ]
candy_st = ["Sweetums (a friend to diabetes)","Sweetums" ]
candy_br = ["Box'o'Raisins","Box’o’ Raisins"]

In [90]:
df_s = df_c.replace(to_replace = candy_na, value = "NA").replace(to_replace = candy_mm, value = "Regular M&Ms").replace(to_replace = candy_mj, value = "Mary Janes").replace(to_replace = candy_l, value = "Licorice").replace(to_replace = candy_st, value = "Sweetums").replace(to_replace = candy_br, value = "Box'o'Raisins")

In [91]:
df_s["age"] = pd.to_numeric(df_s['age'], errors='coerce')
import numpy as np
df_s['age'] = df_s.apply(lambda x: np.nan if x['age'] < 1 or x['age'] > 100 else x['age'], axis = 1)

In [92]:
df_tidy = df_s.dropna(axis = 0, subset = ['age'])

In [93]:
df_tidy

         age going_out                    sweet     rate  year  gender country
0       35.0        No             Butterfinger      JOY  2015     NaN     NaN
1       41.0        No             Butterfinger      JOY  2015     NaN     NaN
2       33.0        No             Butterfinger  DESPAIR  2015     NaN     NaN
3       31.0        No             Butterfinger      JOY  2015     NaN     NaN
4       30.0        No             Butterfinger      NaN  2015     NaN     NaN
...      ...       ...                      ...      ...   ...     ...     ...
253375  24.0        No  York Peppermint Patties      MEH  2017    Male     USA
253376  33.0        No  York Peppermint Patties      JOY  2017  Female     USA
253377  26.0        No  York Peppermint Patties      MEH  2017  Female    USA
253378  58.0        No  York Peppermint Patties      NaN  2017    Male     USA
253379  66.0        No  York Peppermint Patties      JOY  2017  Female     USA

[868378 rows x 7 columns]

Now we have a clean data set slightly differnet from the one I had in R. In the R task, I also answered the following questions 

1.What is the total number of candy ratings given across the three years. (Number of candy ratings, not the number of raters. Don’t count missing values)

2.What was the average age of people who are going out trick or treating?

3.For each of joy, despair and meh, which candy bar received the most of these ratings?

4.How many people rated Starburst as despair?

5.What was the most popular candy bar by this rating system for each gender in the dataset ?

6.What was the most popular candy bar in each year?

7.What was the most popular candy bar by this rating for people in US, Canada, UK, and all other countries?

In [94]:
#1.What is the total number of candy ratings given across the three years. (Number of candy ratings, not the number of raters. Don’t count missing values)

df_q1 = df_tidy.dropna(axis = 0, subset = ['rate'])
df_q1['rate'].count()

#736095

736095

In [95]:
#2.What was the average age of people who are going out trick or treating?
df_q2 = df_tidy[df_tidy.going_out == 'Yes']
np.mean(df_q2.age)

#35.12

35.120990833985935

In [96]:
#3.For each of joy, despair and meh, which candy bar received the most of these ratings?

In [97]:
df_q1[df_q1.rate == 'DESPAIR'].groupby(['sweet']).count().sort_values('rate', ascending = False)
#Mary Janes has highest despair

,age,going_out,rate,year,gender,country
sweet,,,,,,
NA,95529,94890,95529,95529,29700,29740
Mary Janes,10125,10092,10125,10125,2220,2225
Gum from baseball cards,6989,6939,6989,6989,2336,2338
Dental paraphenalia,6949,6904,6949,6949,2254,2260
Candy that is clearly just the stuff given out for free at restaurants,6902,6854,6902,6902,2123,2129
...,...,...,...,...,...,...
Mr. Goodbar,360,356,360,360,359,360
Take 5,333,320,333,333,333,333
Reese's Pieces,324,320,324,324,324,323
Hershey's Dark Chocolate,310,306,310,310,307,310
Dove Bars,208,203,208,208,207,208

In [98]:
df_q1[df_q1.rate == 'MEH'].groupby(['sweet']).count().sort_values('rate', ascending = False)
#Regular M&M has highest MEH rating

,age,going_out,rate,year,gender,country
sweet,,,,,,
NA,12617,12387,12617,12617,12568,12602
Regular M&Ms,4149,4048,4149,4149,4141,4144
Lollipops,1507,1472,1507,1507,1502,1505
Hard Candy,1463,1434,1463,1463,1459,1460
Bonkers (the candy),1430,1405,1430,1430,1424,1427
...,...,...,...,...,...,...
Dental paraphenalia,437,431,437,437,437,436
Gum from baseball cards,422,418,422,422,419,421
Any full-sized candy bar,369,362,369,369,367,369
Sandwich-sized bags filled with BooBerry Crunch,317,305,317,317,317,317
Reese’s Peanut Butter Cups,315,309,315,315,314,315

In [99]:
df_q1[df_q1.rate == 'JOY'].groupby(['sweet']).count().sort_values('rate', ascending = False)
#Regular M&M has highest JOY rating

,age,going_out,rate,year,gender,country
sweet,,,,,,
NA,31541,31309,31541,31541,11324,11329
Regular M&Ms,10691,10536,10691,10691,6616,6630
Any full-sized candy bar,7244,7193,7244,7244,2501,2504
Reese’s Peanut Butter Cups,7016,6967,7016,7016,2390,2394
Kit Kat,6910,6867,6910,6910,2304,2310
...,...,...,...,...,...,...
Gum from baseball cards,349,348,349,349,75,76
Candy that is clearly just the stuff given out for free at restaurants,289,288,289,289,66,66
Sandwich-sized bags filled with BooBerry Crunch,210,204,210,210,209,210
Third Party M&M's,192,192,192,192,191,190
Bonkers (the candy),181,176,181,181,181,181

In [100]:
#4.How many people rated Starburst as despair?
df_q4 = df_q1[df_q1.rate == 'DESPAIR']
df_q4[df_q4.sweet == 'Starburst'].count()
# 1864

age          1864
going_out    1860
sweet        1864
rate         1864
year         1864
gender        478
country       478
dtype: int64

In [101]:
#5.What was the most popular candy bar by this rating system for each gender in the dataset ?
df_q5=df_q1.dropna(axis = 0, subset = ['sweet'])

rates=["JOY", "MEH", "DESPAIR"]
dummy_vars=[1,0, -1]

df_q5['point'] = df_q5['rate'].replace(rates, dummy_vars)
df_q5.head()

for g in df_q5['gender'].unique():
    print(g)
    print(df_q5[df_q5.gender == g ].groupby(['sweet']).sum().sort_values('point', ascending = False).head(1))
#it's probably not the best way of doing it 
#male/female/i'd rather not say all have favourite regular m&m.

nan
Empty DataFrame
Columns: [age, year, point]
Index: []
Male
                   age      year  point
sweet
Regular M&Ms  313822.0  14637202   3390
Female
                   age     year  point
sweet
Regular M&Ms  162453.0  8139469   2037
Other
                 age    year  point
sweet
Regular M&Ms  5481.0  336790     86
I'd rather not say
                  age    year  point
sweet
Regular M&Ms  11790.0  538502    132

In [102]:
#6.What was the most popular candy bar in each year?
for y in df_q5['year'].unique():
    print(y)
    print(df_q5[df_q5.year == y ].groupby(['sweet']).sum().sort_values('point', ascending = False).head(1))
    
#2015 any full-size candy bar with point 4392
#2016 regular m&m with 1616
#2017 regular m&m with 4052

2015
                                  age      year  point
sweet
Any full-sized candy bar  186619.3644  10236200   4392
2016
                   age     year  point
sweet
Regular M&Ms  138956.6  6904800   1616
2017
                   age      year  point
sweet
Regular M&Ms  355956.4  16809678   4052

In [103]:
#7.What was the most popular candy bar by this rating for people in US, Canada, UK, and all other countries?
country = ['UK', 'USA', 'CA']
for c in country:
    print(c)
    print(df_q5[df_q5.country == c ].groupby(['sweet']).sum().sort_values('point', ascending = False).head(1))
#all regular m&m

UK
                 age    year  point
sweet
Regular M&Ms  5364.0  282334     81
USA
                   age      year  point
sweet
Regular M&Ms  336635.0  15919954   3782
CA
                  age     year  point
sweet
Regular M&Ms  33746.0  1746441    467

I am not sure how to do the groupby and summarise like in r